<section class="about-us-section" id="about">
  <div class="container about-us-container">
    <div class="about-us-section-section-one">
      <h2 class="about-us-heading">
        YachtJet fleet is here to take you on the ultimate adventure
      </h2>
      <ul class="about-us-list">
        <li class="about-us-item-first">
          From spacious decks to state-of-the-art technology, our yachts are
          designed to provide the perfect blend of luxury and functionality.
        </li>
        <li class="about-us-item-second">
          Take a look at our selection below and choose the yacht that matches
          your needs and preferences.No matter which yacht you choose, our
          experienced crew will ensure that your journey is smooth and
          enjoyable. Book now and get ready for an unforgettable adventure on
          the high seas.
        </li>
      </ul>
    </div>
    <div class="about-us-section-section-two">
      <picture class="about-us-picture">
        <source
          srcset="
            ./images/section-2-about/desk1440/section-about-desk-1440.jpg    1x,
            ./images/section-2-about/desk1440/section-about-desk-1440@2x.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/section-2-about/desk/section-about-desk.jpg    1x,
            ./images/section-2-about/desk/section-about-desk@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/section-2-about/tab/section-about-tab.jpg    1x,
            ./images/section-2-about/tab/section-about-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/section-2-about/mob/section-about-mob.jpg    1x,
            ./images/section-2-about/mob/section-about-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="about-us-photo"
          src="./images/section-2-about/mob/section-about-mob.jpg"
          alt="picture jacht"
        />
      </picture>
    </div>
  </div>
</section>
