<section class="advantages-section section">
  <div class="container advantages-container">
    <h2 class="visually-hidden">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-list-item">
        <h3 class="advantages-list-title">01</h3>
        <p class="advantages-items-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-list-title">02</h3>
        <p class="advantages-items-text">
          Fishing: try to catch your own dinner
        </p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-list-title">03</h3>
        <p class="advantages-items-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-list-title">04</h3>
        <p class="advantages-items-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture class="advantages-img">
      <source
        srcset="
          ./images/section-4-advantages/desk/section-advantages-desk.jpg    1x,
          ./images/section-4-advantages/desk/section-advantages-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/section-4-advantages/tab/section-advantages-tab.jpg    1x,
          ./images/section-4-advantages/tab/section-advantages-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/section-4-advantages/mob/section-advantages-mob.jpg    1x,
          ./images/section-4-advantages/mob/section-advantages-mob@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advantages-img"
        src="./images/section-4-advantages/desk/section-advantages-desk.jpg"
        alt="Foto yacht"
        width="432"
        height="424"
      />
    </picture>
  </div>
</section>
