<header class="page-header">
    <div class="page-header-wrapper">

        <nav class="header-nav">
            <a class="header-logo" href="">yachtjet</a>
            <ul class="header-menu">
                <li class="header-menu-list-item">
                    <a class="header-menu-link">about</a>
                </li>
                <li class="header-menu-list-item">
                    <a class="header-menu-link">yachts</a>
                </li>
                <li class="header-menu-list-item">
                    <a class="header-menu-link">reviews</a>
                </li>
            </ul>
        </nav>

        <button class="mobile-header-menu-btn">
            <svg class="mobile-header-burger-btn-icon">
                <use>
                </use>
            </svg>
        </button>

        <ul class="header-socials">
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="">
                    <svg class="header-socials-icon">
                        <use>
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="">
                    <svg class="header-socials-icon">
                        <use>
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="">
                    <svg class="header-socials-icon">
                        <use>
                        </use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</header>