<header class="page-header">
    <div class="page-header-wrapper">

        <nav class="header-nav">
            <a class="header-logo" href="../index.html">yachtjet</a>
            <ul class="header-menu">
                <li class="header-menu-list-item">
                    <a class="header-menu-link accent-about" href="#about">about</a>
                </li>
                <li class="header-menu-list-item">
                    <a class="header-menu-link" href="#yachts">yachts</a>
                </li>
                <li class="header-menu-list-item">
                    <a class="header-menu-link" href="#reviews">reviews</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="mobile-header-menu-btn">
            <svg class="mobile-header-burger-btn-icon" width="28" height="28" aria-label="mobile-menu-icon">
                <use href="../public/symbol-defs.svg#icon-mob-menu-icon">
                </use>
            </svg>
        </button>

        <ul class="header-socials">
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg class="header-socials-icon" width="24" height="24" aria-label="instagram-icon">
                        <use href="../public/symbol-defs.svg#icon-insta-icon">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg class="header-socials-icon" width="24" height="24" aria-label="youtube-icon">
                        <use href="../public/symbol-defs.svg#icon-youtube-icon">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="header-socials-list-item">
                <a class="header-socials-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="header-socials-icon" width="24" height="24" aria-label="facebook-icon">
                        <use href="../public/symbol-defs.svg#icon-facebook-icon">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>

    </div>
</header>