<div class="mobile-menu-wrapper">
  <div class="mobile-menu-container">
    <div class="mobile-menu-header">
      <p class="company-name">yachtjet</p>
      <button class="close-btn" type="button">
        <svg class="close-btn-icon" width="16" height="16">
          <use href="./public/symbol-defs.svg#icon-close-mob-menu-icon"></use>
        </svg>
      </button>
    </div>
    <ul class="mobile-menu">
      <li class="mobile-menu-item">
        <a class="mobile-menu-item-link" href="#about-us"><span>About</span></a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-item-link" href="#our-yachts">Yachts</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-item-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <ul class="social-links">
      <li class="social-item">
        <a class="social-item-link" href="#">
          <svg class="social-icon" width="24" height="24">
            <use href="./public/symbol-defs.svg#icon-insta-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-item-link" href="#">
          <svg class="social-icon" width="24" height="24">
            <use href="./public/symbol-defs.svg#icon-youtube-icon"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-item-link" href="#">
          <svg class="social-icon" width="24" height="24">
            <use href="./public/symbol-defs.svg#icon-facebook-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
