<section class="our-yachts-section" id="yachts">
  <div class="container">
    <h2 class="our-yachts-section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              ./images/section-3-our-yachts/desk/section-our-yachts-1-desk.jpg    1x,
              ./images/section-3-our-yachts/desk/section-our-yachts-1-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/tab/section-our-yachts-1-tab.jpg    1x,
              ./images/section-3-our-yachts/tab/section-our-yachts-1-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/mob/section-our-yachts-1-mob.jpg    1x,
              ./images/section-3-our-yachts/mob/section-our-yachts-1-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/section-3-our-yachts/desk/section-our-yachts-1-desk.jpg"
            alt="jacht"
            width="345"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">Arrow</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">48m(155ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">Admiral</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2021</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">11 in 5 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              ./images/section-3-our-yachts/desk/section-our-yachts-2-desk.jpg    1x,
              ./images/section-3-our-yachts/desk/section-our-yachts-2-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/tab/section-our-yachts-2-tab.jpg    1x,
              ./images/section-3-our-yachts/tab/section-our-yachts-2-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/mob/section-our-yachts-2-mob.jpg    1x,
              ./images/section-3-our-yachts/mob/section-our-yachts-2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/section-3-our-yachts/desk/section-our-yachts-2-desk.jpg"
            alt="jacht"
            width="345"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">BENETTI OASIS 40M BO122</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">41m (133ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">Benetti</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2025</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">10 in 5 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              ./images/section-3-our-yachts/desk/section-our-yachts-3-desk.jpg    1x,
              ./images/section-3-our-yachts/desk/section-our-yachts-3-desk@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/tab/section-our-yachts-3-tab.jpg    1x,
              ./images/section-3-our-yachts/tab/section-our-yachts-3-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/section-3-our-yachts/mob/section-our-yachts-3-mob.jpg    1x,
              ./images/section-3-our-yachts/mob/section-our-yachts-3-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/section-3-our-yachts/desk/section-our-yachts-3-desk.jpg"
            alt="jacht"
            width="345"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">BELLE ANNA</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">50m(155ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">ISA</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2012</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">12 in 6 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">12 in 6 cabins</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="our-yachts-rent-button-container">
      <a href="#rent" class="our-yachts-rent-button">Yacht rental</a>
    </div>
  </div>
</section>
<div class="up-line">
  <a class="up-line-a" href="#hero">
    <svg class="up-line-icon" width="24" height="24">
      <use href="/symbol-defs.svg#icon-up"></use>
    </svg>
  </a>
</div>
