<section>
  <div class="container">
    <div>
      <picture>
        <source
          srcset="
            ../images/section-5-rent/desk/section-rent-desk.jpg    1x,
            ../images/section-5-rent/desk/section-rent-desk.jpg@2x 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/section-5-rent/tab/section-rent-tab.jpg    1x,
            ../images/section-5-rent/tab/section-rent-tab.jpg@2x 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/section-5-rent/mob/section-rent-mob.jpg    1x,
            ../images/section-5-rent/mob/section-rent-mob.jpg@2x 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          src="../images/section-5-rent/tab/section-rent-tab.jpg"
          alt="Yacht"
        />
      </picture>
    </div>
    <div>
      <h2>Rent a yacht now</h2>
      <form>
        <label>
          <input
            type="text"
            name="name"
            placeholder="Full Name"
            required
            pattern="[A-Za-z]+\s[A-Za-z]+"
          />
        </label>
        <label>
          <input
            type="email"
            name="email"
            placeholder="Email"
            required
            pattern="[A-Za-z0-9.]+@\w+\.\w+"
          /> </label
        ><label>
          <input
            type="tel"
            name="tel"
            placeholder="Phone number"
            required
            pattern="\+[0-9]{12}"
          /> </label
        ><textarea name="Comment" placeholder="Comment"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
