<section class="reviews">
  <div class="section-text-container container">
    <div class="reviews-title-container">
      <h2 class="reviews-title">
        YachtJet takes pride in providing the best possible service and
        experience to our customers
      </h2>
      <p class="reviews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="reviews-section-list">
      <li class="reviews-section-li">
        <img
          src="./images/section-reviews-1.jpg"
          alt="img"
          width="56"
          class="img-1"
        />
        <div class="reviews-section-li-text-container">
          <h3 class="reviews-section-li-title">John Wax</h3>
          <p class="reviews-section-li-text">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="reviews-section-li-2">
        <img
          src="./images/section-reviews-2.jpg"
          alt="img"
          width="56"
          class="img-2"
        />
        <div class="reviews-section-li-text-container">
          <h3 class="reviews-section-li-title">Victoria Romashenko</h3>
          <p class="reviews-section-li-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="reviews-section-li-3">
        <img
          src="./images/section-reviews-3.jpg"
          alt="img"
          width="56"
          class="img-3"
        />
        <div class="reviews-section-li-text-container">
          <h3 class="reviews-section-li-title">Ihor Trachuk</h3>
          <p class="reviews-section-li-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
