<section class="reviews-section" id="reviews">
  <div class="reviews-name-section container">
    <h2 class="reviews-servise">
      YachtJet take pride in providing the best possible service and experience
      to our customers
    </h2>
    <p class="reviews-servise-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just
      take our word for it - read on to find out what they have to say about
      their journey with us.
    </p>
  </div>

  <ul class="reviews-customers-list container">
    <li class="reviews-customers-list-item">
      <img
        srcset="
          ./images/section-6-reviews/section-reviews-1.jpg    1x,
          ./images/section-6-reviews/section-reviews-1@2x.jpg 2x
        "
        src="./images/section-6-reviews/section-reviews-1.jpg"
        alt="john"
        width="56"
        height="56"
        class="reviews-customers-img"
      />
      <div class="reviews-customers-text">
        <h3 class="reviews-customers-name">John Wax</h3>
        <p class="reviews-customers-words">
          I rented the Lagoon 620 with my family for a week-long vacation and it
          was the best decision ever. The yacht was spacious, comfortable, and
          luxurious, and the crew took care of everything.
        </p>
      </div>
    </li>
    <li class="reviews-customers-list-item">
      <img
        srcset="
          ./images/section-6-reviews/section-reviews-2.jpg    1x,
          ./images/section-6-reviews/section-reviews-2@2x.jpg 2x
        "
        src="./images/section-6-reviews/section-reviews-2.jpg"
        alt="victoria"
        width="56"
        height="56"
        class="reviews-customers-img"
      />
      <div class="reviews-customers-text">
        <h3 class="reviews-customers-name">Victoria Romashenko</h3>
        <p class="reviews-customers-words">
          The Sunseeker Manhattan 66 was the perfect choice for our romantic
          getaway. The yacht was beautifully designed, with all the amenities we
          needed, and the crew was attentive and friendly.
        </p>
      </div>
    </li>
    <li class="reviews-customers-list-item">
      <img
        srcset="
          ./images/section-6-reviews/section-reviews-3.jpg    1x,
          ./images/section-6-reviews/section-reviews-3@2x.jpg 2x
        "
        src="./images/section-6-reviews/section-reviews-3.jpg"
        alt="ihor"
        width="56"
        height="56"
        class="reviews-customers-img"
      />
      <div class="reviews-customers-text">
        <h3 class="reviews-customers-name">Ihor Trachuk</h3>
        <p class="reviews-customers-words">
          The Azimut 80 was the most luxurious yacht I've ever been on. The
          cabins were spacious and elegant, and the outdoor areas were perfect
          for relaxing and entertaining. Worth every penny!
        </p>
      </div>
    </li>
  </ul>
</section>
