/* Стилі для мобільних пристроїв тут */
.footer {
  padding-top: 40px;
}

.container-footer {
  max-width: 355px;
  height: 100%;
  flex-shrink: 0;
  border-radius: 24px 24px 0px 0px;
  background: #1b414b;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.container-logo-list {
  display: flex;
  align-items: start;
  padding-top: 40px;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
}
.logo-footer {
  width: 52px;
  height: 18px;
  flex-shrink: 0;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.42px;
  padding-left: 30px;
  display: block;
  padding: 0;
}

.list-footer {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-left: auto;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-left: auto;
}

.list-item-footer {
  flex-shrink: 1;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.09em;
  text-transform: uppercase;
  width: 66px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  display: flex;
  gap: 8px;
  margin-top: 80px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.title-footer {
  max-width: 279px;
  color: #fbfbfb;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.items-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 82px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.adventures-privacy {
  color: rgba(251, 251, 251, 0.4);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.36px;
}

.list-item-footer:focus {
  color: #1b414b;
  transition: 0.3s ease-in-out;
}

.list-item-footer:hover {
  color: #1b414b;
  background-color: #fbfbfb;
  transition: backround-color all 0.3s ease-in-out;
}

.social-icon-item {
  fill: #fbfbfb;
}

.social-icon-link {
  transition: color all 0.3s ease-in-out;
}

.social-icon-link:focus {
  stroke: rgba(251, 251, 251, 0.8);
  transition: color all 0.3s ease-in-out;
}
.social-icon-link:hover {
  stroke: rgba(251, 251, 251, 0.8);
  transition: color all 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .container-footer {
  }
  .list-footer {
  }
  .list-item-footer {
  }
}
/* Планшети (з 768px) */
@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 736px;
    height: 418px;
    flex-shrink: 0;
    border-radius: 24px 24px 0px 0px;
    background: #1b414b;
  }

  .container-logo-list-icon {
    display: flex;
    margin-bottom: 96px;
  }

  .container-logo-list {
    padding-top: 50px;
  }

  .logo-footer {
    width: 74px;
    height: 24px;
    font-size: 20px;
    letter-spacing: -0.6px;
    margin-left: 48px;
    padding: 0;
  }

  .social-icon {
    display: flex;
    margin-right: 48px;
    margin-top: 0;
    padding-top: 50px;
  }

  .title-footer {
    max-width: 640px;
    height: 96px;
    color: #fbfbfb;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 32px */
    letter-spacing: -0.64px;
    display: flex;
    justify-content: center;
    margin-bottom: 99px;
  }

  .list-footer {
    margin-left: 106px;
  }
  .list-item-footer {
    width: 91px;
    height: 40px;
    flex-shrink: 0;
    color: #fbfbfb;
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-weight: 400;
    line-height: 130%; /* 11.7px */
    text-transform: uppercase;
    border-radius: 8px;
    background: rgba(251, 251, 251, 0.3);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .items-footer {
    display: flex;
    margin-bottom: 20px;
  }

  .adventures-privacy {
    gap: 32px;
    color: rgba(251, 251, 251, 0.4);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%; /* 16.52px */
    letter-spacing: 0.42px;
  }
  .adventures {
    margin-left: 0;
  }
}

/* Десктоп (з 1280px) */
@media screen and (min-width: 1280px) {
  .container-footer {
    max-width: 1230px;
    height: 418px;
    flex-shrink: 0;
    border-radius: 24px 24px 0px 0px;
    background: #1b414b;
  }

  .container-logo-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .list-footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  .logo-footer {
    margin-left: 75px;
    padding: 0;
  }

  .social-icon {
    display: flex;
    padding-left: 0;
    margin-right: 75px;
  }

  .list-footer {
    margin-left: 326px;
    margin-right: 311px;
  }

  .title-footer {
    max-width: 699px;
  }
}

/* Десктоп (з 1440px) */
@media screen and (min-width: 1440px) {
  /* Стилі для десктопу тут */
}
