/* Стилі для мобільних пристроїв тут */
.our-yachts-section {
  padding: 40px 0;
}

.our-yachts-section-title {
  max-width: 319px;
  color: #fbfbfb;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.02em;
  padding: 0 0 40px 0;
  margin: 0 auto;
}

.yachts-list {
  display: flex;
  overflow: hidden;
  position: relative; /* Додано для коректного відображення вмісту */
  width: 100%;
  padding-bottom: 40px;
  gap: 20px;
}

.yacht-list-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 16px;
}

.yacht-picture {
  max-width: 302px;
  max-height: 240px;
  flex-shrink: 0;
  border-radius: 24px;
  object-fit: cover;
  margin-bottom: 32px;
}

.yacht-name-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  gap: 22px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(4, 3, 6, 0.1);
}

.arrow {
  overflow: hidden;
  color: #1b414b;

  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.status {
  color: #040306;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 4px;
  opacity: 0.4;
}

.property-tables {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin-top: 0;
  padding: 16px 0;
}

.property-tables-li {
  display: flex;
  justify-content: flex-start;
  row-gap: 6px;
  gap: 114px;
}

.tab-property {
  color: #040306;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.4;
  width: 62px;
}

.tab-len {
  color: #040306;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: left;
  white-space: nowrap;
}

.our-yachts-rent-button-container {
  display: flex;
  align-items: center;
}

.our-yachts-rent-button {
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  background-color: inherit;
  display: flex;
  margin: 0 auto;
  padding: 14px 32px;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(251, 251, 251, 0.35);
  transition: background-color 0.3s ease-in-out;
  text-decoration: none; /* Додаємо, щоб забрати підкреслення від посилання */
}

.our-yachts-rent-button:hover,
.our-yachts-rent-button:focus {
  color: #1b414b;
  background-color: #fbfbfb;
  outline: none; /* Забираємо контур, який з'являється при фокусі */
}

.up-line {
  position: fixed;
  z-index: 700;
  right: 20px;
  bottom: 10px;
}

.up-line-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* розмір кнопки */
  height: 30px; /* розмір кнопки */
  border: 2px solid #1b414b; /* товщина та колір рамки */
  border-radius: 50%; /* зробити круглою кнопку */
  background-color: #fbfbfb; /* колір фону кнопки */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.up-line-a:hover,
.up-line-a:focus {
  background-color: rgba(251, 251, 251, 0.7);
}

.up-line-icon {
  fill: #1b414b;
}
/* ============================ */
/* =====Планшети (з 768px)===== */
/* ============================ */
@media screen and (min-width: 768px) {
  /* Стилі для планшетів тут */
  .our-yachts-section {
    padding: 75px 0;
  }

  .our-yachts-section-title {
    max-width: 645px;
    font-size: 48px;
    padding-bottom: 75px;
  }

  .yachts-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 32px;
  }

  .yacht-list-li {
    width: 336px;
  }

  .yacht-picture {
    max-width: 304px;
    max-height: 268px;
  }

  .yacht-name-div {
    width: 272px;
  }

  .arrow {
    letter-spacing: -0.05em;
  }

  .status {
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }

  .property-tables-li {
    gap: 104px;
  }

  .yacht-list-li:last-child {
    display: none;
  }

  .our-yachts-rent-button {
    font-size: 18px;
    padding: 16px 40px;
  }

  .up-line {
    right: 30px;
    bottom: 30px;
  }
}
/* ============================= */
/* ====Десктоп (з 1280px)======= */
/* ============================= */
@media screen and (min-width: 1280px) {
  /* Стилі для десктопу тут */
  .our-yachts-section-title {
    max-width: 714px;
    font-size: 48px;
    padding-bottom: 75px;
  }

  .yachts-list {
    gap: 23px;
  }

  .yacht-list-li {
    width: 377px;
  }

  .yacht-list-li:last-child {
    display: flex;
  }

  .yacht-picture {
    max-width: 345px;
    max-height: 268px;
    object-fit: cover;
  }

  .yacht-name-div {
    width: 313px;
  }

  .property-tables-li {
    gap: 145px;
  }

  .up-line-a {
    width: 40px;
    height: 40px;
  }
}

/* Десктоп (з 1440px)
@media screen and (min-width: 1440px) {
  /* Стилі для десктопу тут */
/* .yachts-list {
    gap: 32px;
  }

  .yacht-list-li {
    width: 392px;
  }

  .yacht-picture {
    width: 360px;
    height: 268px;
  }

  .yacht-name-div {
    width: 328px;
  }

  .tab-property {
    padding-bottom: 6px;
  } */
