/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #0e1823;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
/* Планшети (з 768px) */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* Десктоп (з 1280px) */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

/* Десктоп (з 1440px) */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
