.reviews-section-li-title {
   color: #040306;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 110%;
   letter-spacing: -0.36px;
}

 .reviews-text {
   color: #b1aaaa;
   text-align: center;
   font-family: Inter;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: -0.24px;
   margin-bottom: 40px;
   max-width: 335px;
 }

.reviews-section-li-text{
  color: rgba(4, 3, 6, 0.40);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.32px;
  max-width: 303px;
  margin-top: 8px;
}

  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;
  }


@media screen and (max-width: 767px) {
   .reviews {
    padding-top: 80px;
    padding-bottom: 80px
   }
 
  .reviews-section-li {
    border-radius: 24px;
    background: #FBFBFB;
    max-width: 335px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 80px;
    align-items: center;
  }

  .reviews-title {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 100% */
    letter-spacing: -0.56px;
    max-width: 335px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   .reviews-section-li-3 {
    display: none;
}

   .reviews-section-li-2 {
    display: none;
}
}

@media screen and (min-width: 768px){

  .reviews {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .reviews-section-li {
    border-radius: 24px;
    background: #FBFBFB;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    justify-content: center;
  }

  .reviews-title {
   color: #FBFBFB;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 500;
   line-height: 48px; /* 100% */
   letter-spacing: -0.96px;
   margin-bottom: 25px;
   max-width: 704px;
  }

  .reviews-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .reviews-text {text-align: center;font-family: Inter;font-size: 14px;font-style: normal;font-weight: 400;line-height: 18px; /* 128.571% */letter-spacing: -0.28px;max-width: 571px;}
  .reviews-section-li {
    border-radius: 24px;
    background: #FBFBFB;
    max-width: 335px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-li-2 {
    border-radius: 24px;
    background: #FBFBFB;
    max-width: 335px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-li-3 {
    display: none;
}
}

@media screen and (min-width: 1280px) {
   
  .reviews-title {
   max-width: 854px;
   color: #FBFBFB;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 500;
   line-height: 48px; /* 100% */
   letter-spacing: -0.96px;
  }

    .reviews-section-li-3 {
    border-radius: 24px;
    background: #FBFBFB;
    max-width: 335px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

   .reviews-section-li-2 {
    border-radius: 24px;
    background: #FBFBFB;
    max-width: 335px;
    padding: 32px 8px;
    gap: 8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .reviews-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
    justify-content: center;
}
  
  .reviews {
    padding-top: 152px;
    padding-bottom: 152px;
  }
}

@media screen and (min-width: 1440px) {
   .reviews-section-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
    justify-content: center;
}
}
